body {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    border: 1px solid #4169E1;
    border-radius: 5px;
}

/* header start */

header h2 {
    margin-left: 10px;
    color: #FFFA0E;
    margin-top: 3px;
}

header {
    background-color: #4169E1;
    color: #fff;
    height: 35px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
    margin-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* header end */

/* user auntification start */

.user-avatar {
    width: 130px;
    height: 200px;
}

.user-avatar img {
    width: 100%;
    height: auto;
}

.user-name {
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.login-form {
    max-width: 300px;
}

.login-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 150px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    display: block;
    width: 110px;
    padding: 10px;
    background-color: #4169E1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #2456b3;
}

/* user auntification end */






footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4169E1;
    color: #fff;
}