/* Styles for the main page container */
.page_container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

/* Styles for the center part of the page start */

.center_block_page_1 {
    width: 25%;
    background-color: #ffffff;
    padding: 7px 7px;
    display: flex;
    flex-direction: column;
}

.user_avatar_page_1,
.user_avatar2 {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.user_friends_page_1 {
    flex: 1;
    overflow-y: auto;
}

.user_friends ul {
    list-style: none;
    padding: 0;
}

.user_friends li {
    display: flex;
    align-items: center;
}

.user_avatar_page_1 img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.user_info_page_1 p {
    margin-top: -1px;
    margin-left: 5px;
    color: #0000ff;
}

.user_details2 {
    flex: 1;
}

.user_friends_page_1 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user_friends_page_1 ul li {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
}

/* Styles for the center part of the page end */


/* Styles for the right side of the page start */

.right-block {
    flex: 1;
    margin-left: 10px;
    background-color: #ffffff;
    padding: 10px 10px;
    max-width: 60%;
    flex-direction: column;
}

.right-block h2 {
    margin-top: -2px;
}

.user-details li {
    margin-top: 15px;
}

.user-details b {
    margin-left: 80px;
}

.right-status {
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 10px;
}

.online-status {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: -2px;
}

.right-block img {
    width: 10px;
    margin-right: 5px;
}

/* Styles for the right side of the page end */


/* Post output start */

.block_inform_post img {
    width: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.author_info {
    display: flex;
    align-items: center;
}

.author_name {
    margin-left: 10px;
}

.post_title {
    font-size: 18px;
    margin-top: 10px;
}

.post_content {
    font-size: 16px;
    border: 1px solid silver;
    padding: 6px;
}

.button_post_profile button {
    background-color: yellow;
    cursor: pointer;
}

.button_post_profile button:hover {
    background-color: #0000ff;
    color: aliceblue;
}

.button_post_profile form a {
    text-decoration: none;
}
/* Post output end */


/* likes post start */

.post img {
    width: 20px;
    float: right;
    cursor: pointer;
}



/* likes post end */