<!DOCTYPE html>
{% load static %}
<html lang="ukr-3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profiles/css/account/signup.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="background-image">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>