{% extends "profiles/layout.html" %}
{% load static %}


{% block content %}
<main class="all_news">
    <div class="block_news">
        <h1>Всі новини від друзів</h1>
        <ul>
            {% for post in posts %}
            <li>
                <div class="one_post">
                    <a href="{% url 'profile:public_profile' user.id %}">
                        <h3>{{ post.author }}</h3>
                        <h5>{{ post.title }}</h5>
                    </a>
                    <p>{{ post.content }}</p>         
                </div>     
            </li>
            {% endfor %}
        </ul>

    </div>
</main>
{% endblock %}