{% extends "profiles/layout.html" %}
{% load static %}


{% block content %}
<main class="all_news">
    <div class="block_news">
        <h1>Всі новини від друзів</h1>
        <ul>
            {% for post in posts %}
            <li>
                <div class="one_post">
                    <a href="{% url 'profile:public_profile' post.author.id %}">
                        <img src="{{ post.author.avatar.url }}" alt="avatar-user">
                        <h3>{{ post.author }}</h3>
                        <h5>{{ post.title }}</h5>
                    </a>
                    <p>{{ post.content }}</p>  
                    {% if post.author == request.user %}
                    <form method="post" action="{% url 'newsfeed:delete_post' post.id %}">
                        {% csrf_token %}
                        <button type="submit">Видалити</button>
                        <a class="update_button" href="{% url 'newsfeed:update_post' post.id %}">Редагувати</a>
                    </form>                      
                    {% endif %}  
                </div>     
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}