.all_news {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 20px;   
}

.block_news {
    width: 500px;
    background-color: rgb(255, 255, 255);
    padding: 0 10px 10px 20px;
}

.one_post h3 {
    margin-top: -5px;
    padding-top: -10px;
}

.one_post {
    border: 1px solid #ccc; 
    padding: 10px;
    padding-right: 10px;
}

.one_post button {
    background-color: yellow;
    cursor: pointer;
}

.one_post a {
    text-decoration: none;
}

.one_post button:hover {
    background-color: #2e2ed2;
    color: aliceblue;
}

.update_button {
    margin-left: 10px;
}

.one_post img {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.underline_title {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.one_post p {
    font-size: 16px;
    border: 1px solid silver;
    padding: 6px;
}

.add_post {
    float: right;
}

.add_post a {
    text-decoration: none;
    color: black;
    border: 1px solid silver;
    margin: 5px;
    padding: 3px;
}

.add_post a:hover{
    background-color: #2e2ed2;
    color: aliceblue;
}