{% extends "profiles/layout.html" %}
{% load static %}

{% block content %}
<main class="my_friends2">
    <div>
        <div class="friends-header">
            <h2>Ваші друзі</h2>
            <a href="{% url 'friends:friend_requests' %}" class="friendship_requests"><h2>Запити на дружбу</h2></a>
        </div>
        <ul>
            {% if friends %}
            {% for friend in friends %}
            <a href="">
                <li class="user_info2">
                    {% if friend.avatar %}
                    <div class="user-avatar2">
                        <img src="{{ friend.avatar.url }}" alt="avatar_user">
                    </div>
                    {% else %}
                    <div class="user-avatar2">
                        <img src="{% static 'profiles/img/user-avatar.jpg' %}" alt="avatar-user">
                    </div>
                    {% endif %}
                    <div class="user_details2">
                        <p>{{ friend.first_name }} {{ friend.last_name }}</p>
                        <button><a href=""></a>Видалити із друзів</button>
                    </div>
                </li>
            </a>
            {% endfor %}
            {% else %}
            <p>У вас поки що немає друзів.</p>
            {% endif %}
        </ul>
    </div>
</main>
{% endblock %}
