{% extends "profiles/layout.html" %}
{% load static %}

{% block content %}

<div class="page_search">
    <h2>Результаты поиска друзей</h2>
    
    <h5>Вы искали: "{{ request.GET.search }}"</h5>
    <ul class="user-list">
        {% for user in users %}
        <li class="user-item">
            <img src="{{ user.avatar.url }}" alt="avatar_user">
            <div class="user-info">
                <a href="{% url 'public_profile' user.username %}">
                    <p class="user_name_search">Имя: {{ user.first_name }}</p>
                </a>
                <p class="user-last-name">Фамилия: {{ user.last_name }}</p>
                <button>Додати в друзі</button>
            </div>
        </li>
        {% empty %}
        <li>По вашему запросу ничего не найдено.</li>
        {% endfor %}
    </ul>
</div>


{% endblock %}