{% extends "profiles/layout.html" %}
{% load static %}

{% block content %}

<div class="page_search">
    <h2>Результати пошуку друзів</h2>

    <h5>Вы искали: "{{ request.GET.search }}"</h5>
    <ul class="user-list">
        {% for user in users %}
        <li class="user-item">
            {% if user.avatar %}
            <img class="user-avatar1" src="{{ user.avatar.url }}" alt="avatar-user">
            {% else %}
            <div class="user-avatar1">
                <img src="{% static 'profiles/img/user-avatar.jpg' %}" alt="avatar-user">
            </div>
            {% endif %}
            <div class="user-info">
                <a href="{% url 'profile:public_profile' user.pk %}">
                    <p class="user_name_search">Ім'я: {% if user.first_name %}
                        {{ user.first_name }}{% else %}{{user.username }}{% endif %}</p>
                </a>
                <p class="user-last-name">Прізвище: {{ user.last_name }}</p>

                <form method="post" action="{% url 'friends:send_friend_request' user.id %}">
                    {% csrf_token %}
                    <button type="submit">           
                            Додати в друзі      
                    </button>
                </form>

            </div>
        </li>
        {% empty %}
        <li>По вашему запросу ничего не найдено.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}