{% extends "profiles/layout.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
<main class="my_friends">
    <div>
        <h2>Ваші друзі:</h2>
        <ul>
            {% if friends %}
            {% for friend in friends %}
                <li class="user_info">
                    {% if friend.to_user.avatar %}
                        <img src="{{ friend.to_user.avatar.url }}" alt="avatar_user">
                    {% else %}
                        <div class="user-avatar1">
                            <img src="{% static 'profiles/img/user-avatar.jpg' %}" alt="avatar-user">
                        </div>
                    {% endif %}
                    <p>{{ friend.to_user.first_name }} {{ friend.to_user.last_name }}</p>
                </li>
            {% endfor %}
        {% else %}
            <p>У вас поки що немає друзів.</p>
        {% endif %}
        </ul>
    </div>

    <div>
        <h2>Запити на дружбу:</h2>
        <ul>
            {% if friend_requests %}
            {% for request in friend_requests %}

            <li class="user_info">
                {% if user.avatar %}
                <img src="{{ request.from_user.avatar.url }}" alt="avatar_user">
                {% else %}
                <div class="user-avatar1">
                    <img src="{% static 'profiles/img/user-avatar.jpg' %}" alt="avatar-user">
                </div>
                {% endif %}

                <p>{{ request.from_user.first_name }} {{ request.from_user.last_name }}</p>
                <button>
                    <a href="{% url 'friends:confirm_friend_request' request.id %}"> Підтвердити запит на дружбу.</a>
                </button> 
                <button>
                    <a href="{% url 'friends:cancel_friend_request' request.id %}"> Відхилити.</a>
                </button>
            </li>
            
            {% endfor %}
            {% else %}
            <p>Ви не маєте непідтверджених запитів на дружбу.</p>
            {% endif %}
        </ul>
    </div>
</main>
{% endblock %}