<!DOCTYPE html>
{% load static %}
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profiles/css/profile_page/layout.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/profile_page/welcome_page.css' %}">
    <link rel="shortcut icon" href="{% static 'profiles/img/ukr (2).png' %}">
    <title>iN UA</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <div class="header-ua">
                    <h2>
                        iN UA
                    </h2>
                </div>
                <li><a href="">Головна</a></li>
                <li><a href="#">Новини</a></li>
                <li><a href="{% url 'public_profile' username=user.username %}">Профіль</a></li>
                <li><a href="#">Друзі</a></li>
                <li><a href="{% url 'edit_profile'  %}">Налаштування</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">Выйти</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}" class="logout-link">Вхід</a></li>
                <li><a href="{% url 'account_signup' %}" class="registration-link">Реєстрація</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2023 iN UA соціальна мережа</p>
    </footer>
</body>

</html>