<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profiles/css/profile_page/layout.css' %}">
    <title>iN UA</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <div class="header-ua">
                    <h2>
                        iN UA
                    </h2>
                </div>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Профиль</a></li>
                <li><a href="#">Друзья</a></li>
                <li><a href="#">Настройки</a></li>
                <li><a href="#">Выйти</a></li>
            </ul>
        </nav>
    </header>

  

    <footer>
        <p>&copy; 2023 Ваша социальная сеть</p>
    </footer>
</body>
</html>