{% extends "profiles/layout.html" %}
{% load static %}

{% block content %}
<main class="chat-with-friend">
    <h2>Чат с {{ room.friend }}</h2>
    <div id="chat-container">
        <ul>
            {% for message in messages %}
                {% if message.author == request.user %}
                    <li>Вы: {{ message.message }}</li>
                {% else %}
                    <li>{{ message.friend.username }}: {{ message.message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
    <form method="post" action="{% url 'communications:chat_with_friend' friend_id=room.friend.id %}">
        {% csrf_token %}
        <input type="text" name="message" id="message" placeholder="Введите сообщение">
        <button type="submit">Отправить</button>
    </form>
</main>
{% endblock %}
