{% load static %}

<link rel="stylesheet" href="{% static 'profiles/css/profile_page/header.css' %}">
<link rel="stylesheet" href="{% static 'profiles/css/profile_page/welcome_page.css' %}">
<link rel="stylesheet" href="{% static 'profiles/css/profile_page/profile_page.css' %}">
<link rel="stylesheet" href="{% static 'profiles/css/people_search_page/search.css' %}">
<link rel="stylesheet" href="{% static 'profiles/css/add_friends/friend_requests.css' %}">
<link rel="stylesheet" href="{% static 'profiles/css/all_friends/all_friends.css' %}">
<link rel="shortcut icon" href="{% static 'profiles/img/ukr (2).png' %}">