<!DOCTYPE html>
{% load static %}
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iN UA</title>

    {% include 'includes/links.html' %}
</head>

<body>
    <header>
        <nav>
            <ul class="header_li">
                <div class="header-ua">
                    <h2>
                        iN UA
                    </h2>
                </div>
                <li><a href="{% url 'profile:welcome_page' %}">Головна</a></li>
            
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile:public_profile' pk=user.pk %}">Профіль</a></li>
                <li><a href="{% url 'friends:all_friends' %}">Друзі</a></li>               

                <form action="{% url 'friends:find_friends' %}" method="GET" class="search-form">
                    <input type="search" name="search" placeholder="Пошук" class="search-button" style="width: 60px; height: 20px;">
                    <button type="submit">Знайти</button>
                </form>

                <li><a href="{% url 'profile:edit_profile' %}">Налаштування</a></li>

                <li><a href="{% url 'account_logout' %}">Выйти</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}" class="logout-link">Вхід</a></li>
                <li><a href="{% url 'account_signup' %}" class="registration-link">Реєстрація</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2023 iN UA соціальна мережа</p>
    </footer>
</body>

</html>