<!DOCTYPE html>
{% load static %}
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iN UA</title>

    {% include 'includes/links.html' %}
</head>

<body>
    <header>
        <nav>
            <div class="header-ua">
                <div class="header-ua-left">
                    <img src="{% static 'profiles/img/pngwin.png' %}" alt="win-img">
                    <h2>iN UA</h2>

                    <div class="search">
                        <form action="{% url 'friends:find_friends' %}" method="GET" class="search-form">
                            <div class="search-input">
                                <i class="bi bi-search"></i>
                                <input type="search" name="search" placeholder="Пошук" class="search-button">
                            </div>
                        </form>
                    </div>

                </div>
                <div class="authenticated">
                    {% if user.is_authenticated %}  
                    <ul class="header_li">
                        <li>{{ user.username }}</li>
                        <li><a href="{% url 'account_logout' %}">Вийти</a></li>
                    </ul>
                    {% else %}
                    <ul class="header_li">
                        <li><a href="{% url 'account_login' %}" class="logout-link">Вхід</a></li>
                        <li><a href="{% url 'account_signup' %}" class="registration-link">Реєстрація</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <hr>
    </header>

    {% block content %}
    {% endblock %}

    <!-- <footer>
        <p>&copy; 2023 iN UA соціальна мережа</p>
    </footer> -->
</body>

</html>