<!DOCTYPE html>
{% load static %}
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iN UA</title>

    {% include 'includes/links.html' %}
</head>

<body>
    <header>
        <nav>
            <div class="header-ua">
                <div class="header-ua-left">
                    <img src="{% static 'profiles/img/pngwin.png' %}" alt="win-img">
                    <h2>iN UA</h2>

                    <div class="search">
                        <form action="{% url 'friends:find_friends' %}" method="GET" class="search-form">
                            <div class="search-input">
                                <i class="bi bi-search"></i>
                                <input type="search" name="search" placeholder="Пошук" class="search-button">
                            </div>
                        </form>
                    </div>

                </div>
                <div class="authenticated">
                    {% if user.is_authenticated %}
                    {% if is_own_profile %}
                    <ul class="header_li">
                        <li>{{ user.username }}</li>
                        <li><a href="{% url 'account_logout' %}">Вийти</a></li>
                    </ul>
                    {% endif %}
                    {% else %}
                    <ul class="header_li">
                        <li><a href="{% url 'account_login' %}" class="logout-link">Вхід</a></li>
                        <li><a href="{% url 'account_signup' %}" class="registration-link">Реєстрація</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <hr>
    </header>

    <!-- Left side of the page start -->

    <div class="left-sidebar">
        <ul>
            <li>
                <img src="#" alt="">
                <a href="{% url 'profile:welcome_page' %}">
                    Головна
                </a>
            </li>
            <li>
                <img src="{% static 'profiles/img/img_category/icons8-гость-мужчина-50.png' %}" alt="category_img">
                <a href="{% url 'profile:public_profile' pk=request.user.id %}">
                    Профіль
                </a>
            </li>
            <li>
                <img src="{% static 'profiles/img/img_category/icons8-friend-58 (1).png' %}" alt="category_img">
                <a href="{% url 'friends:all_friends' %}">
                    Друзі
                </a>
            </li>
            <li>
                <img src="{% static 'profiles/img/img_category/icons8-сообщение-в-чате-48.png' %}" alt="category_img">
                <a href="{% url 'communications:all_messages' %}">
                    Повідомлення
                </a>
            </li>
            <li>
                <img src="{% static 'profiles/img/img_category/icons8-новости-50 (1).png' %}" alt="category_img">
                <a href="{% url 'newsfeed:news' %}">
                    Новини
                </a>
            </li>
            <li>
                <img src="{% static 'profiles/img/img_category/icons8-картина-50.png' %}" alt="category_img">
                <a href="#">
                    Фотографії
                </a>
            </li>
            <li>
                <img src="{% static 'profiles/img/img_category/icons8-play-в-круге-50.png' %}" alt="category_img">
                <a href="#">
                    Відео
                </a>
            </li>
            <li>
                <img src="{% static 'profiles/img/img_category/icons8-apple-music-50.png' %}" alt="category_img">
                <a href="#">
                    Музика
                </a>
            </li>
            <li>
                <img src="{% static 'profiles/img/img_category/settings.png' %}" alt="category_img">
                <a href="{% url 'profile:edit_profile' %}">
                    Налаштування
                </a>
            </li>
            <li>
                <img src="{% static 'profiles/img/img_category/posts.png' %}" alt="category_img">
                <a href="{% url 'newsfeed:post_create' %}">
                    Написати пост
                </a>
            </li>
        </ul>
    </div>

    <!-- Left side of the page end -->

    {% block content %}
    {% endblock %}

    <!-- <footer>
        <p>&copy; 2023 iN UA соціальна мережа</p>
    </footer> -->
</body>

</html>