{% extends "profiles/layout.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
<main class="page_container">

    <!-- Center part of the page start -->

    <div class="center_block_page_1">
        {% if user.is_authenticated %}
        <div class="user_info_page_1">
            {% if user.avatar %}
            <img class="user_avatar_page_1" src="{{ user.avatar.url }}" alt="avatar_user">
            {% else %}
            <div class="user_avatar_page_1">
                <img src="{% static 'profiles/img/user-avatar.jpg' %}" alt="avatar_user">
            </div>
            {% endif %}
            <hr>
        </div>

        <button>Змінити фото</button>

        <div class="user_friends_page_1">
            <h3>Друзі:</h3>
            <ul>
                {% if friends %}
                {% for friend in friends %}
                <li class="user_info_page_1">
                    <a href="{% url 'profile:public_profile' friend.id %}" style="text-decoration: none;">
                        {% if friend.avatar %}
                        <div class="user_avatar_page_1">
                            <img src="{{ friend.avatar.url }}" alt="avatar_user">
                        </div>
                        {% else %}
                        <div class="user_avatar2">
                            <img src="{% static 'profiles/img/user-avatar.jpg' %}" alt="avatar-user">
                        </div>
                        {% endif %}

                        <div class="user_details2">
                            <p>{{ friend.first_name }}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
                {% else %}
                <p>У вас поки що немає друзів.</p>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>

    <!-- Center part of the page end -->


    <!-- Right side of the page -->

    <div class="right-block">
        <div class="right-status">
            <h2 class="user-name">{{ user.first_name }} {{ user.last_name }}</h2>
            <p class="online-status">
                <img src="{% if is_online %}{% static 'profiles/img/on.png' %}{% else %}{% static 'profiles/img/off.png' %}{% endif %}"
                    alt="img-status">
                {% if is_online %} Online {% else %} Offline {% endif %}
            </p>
        </div>
        <hr>

        <div class="right-side">
            <div class="user-details">
                <ul>
                    <li>Місце проживання: <b>{{ user.country }}, {{ user.city }}</b></li>
                    <li>Номер телефону: <b>{{ user.phone }}</b></li>
                    <li>День народження: <b>{{ user.birthday }}</b></li>
                    <li>Освіта: <b>{{ user.education }}</b></li>
                    <li>Стать людини: <b>{{ user.gender }}</b></li>
                    <li>Біографія: <b>{{ user.bio }}</b></li>
                </ul>
            </div>
        </div>
        <hr>

        <!-- Post output block -->

        <div class="post_output_profile_block">
            <div class="add_post">
                <a href="{% url 'newsfeed:post_create' %}">Додати пост</a>
            </div>
            {% for post in user_posts %}
            <div class="block_inform_post">
                <div class="author_info">
                    <img src="{{ post.author.avatar.url }}" alt="avatar_user">
                    <div class="author_name">
                        <h3>{{ post.author.username }} {{ post.author.last_name }}</h3>
                    </div>
                </div>
                <div class="post">
                    <div class="button_post_profile">
                        <h4 class="post_title">{{ post.title }}</h4>
                        <p class="post_content">{{ post.content }}</p>

                        <img class="like-button" data-post-id="{{ post.id }}" src="{% static 'profiles/img/like.png' %}"
                            alt="like">
                        <p>Likes: <span id="likes_count_{{ post.id }}">{{ post.total_likes }}</span></p>
                        <p>Відповісти</p>

                        {% if post.author == request.user %}
                        <form method="post" action="{% url 'newsfeed:delete_post' post.id %}">
                            {% csrf_token %}
                            <button type="submit">Видалити</button>
                            <a class="update_button" href="{% url 'newsfeed:update_post' post.id %}">Редагувати</a>
                        </form>
                        {% endif %}
                    </div>

                    {% for comment in post.comments.all %}
                    <div class="comment">
                        <div class="comment-p">
                            <p>Name: {{ comment.name }}</p>
                            <p>{{ comment.content }}</p>
                            <p>Likes: {{ comment.total_likes }}</p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}

                    <div class="form-comments">
                        <form method="post" action="{% url 'newsfeed:create_comments' pk=post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <p>{{ comment_form.as_p }}</p>
                            <button type="submit">Відправити</button>
                        </form>
                    </div>


                </div>


            </div>
            {% endfor %}
        </div>
        <hr>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".like-button").on("click", function () {
                var post_id = $(this).data("post-id");
                var like_button = $(this);

                $.ajax({
                    type: "POST",
                    url: "{% url 'newsfeed:like_post' %}",
                    data: {
                        'post_id': post_id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if ('likes' in data) {
                            $("#likes_count_" + post_id).text(data.likes);
                        }
                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }
                });
            });
        });
    </script>


</main>

{% endblock %}