{% extends "profiles/layout.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
<main>
<!-- Left side of the page -->
    <div>
        <ul>
            <li><a href="{% url 'profile:welcome_page' %}">Головна</a></li>
            <li><a href="{% url 'profile:public_profile' pk=user.pk %}">Профіль</a></li>
            <li><a href="{% url 'friends:all_friends' %}">Друзі</a></li>
            <li><a href="{% url 'communications:all_messages' %}">Повідомлення</a></li>
            <li><a href="{% url 'profile:edit_profile' %}">Налаштування</a></li>
        </ul>
    </div>
    <!-- Left side of the page -->
    <div>
        {% if user.is_authenticated %}
        <div class="user-info">
            <h2 class="user-name">{{ user.first_name }} {{ user.last_name }}</h2>

            {% if user.avatar %}
            <img class="user-avatar" src="{{ user.avatar.url }}" alt="avatar-user">
            {% else %}
            <div class="user-avatar">
                <img src="{% static 'profiles/img/user-avatar.jpg' %}" alt="avatar-user">
            </div>
            {% endif %}
        </div>
        <!-- <button>завантажити фото</button> -->
        {% endif %}

        <div class="user-friends">
            <h3>Друзі:</h3>
            <ul>
                {% if friends %}
                {% for friend in friends %}
                <li class="user_info2">
                    {% if friend.avatar %}
                    <div class="user-avatar2">
                        <img src="{{ friend.avatar.url }}" alt="avatar_user">
                    </div>
                    {% else %}
                    <div class="user-avatar2">
                        <img src="{% static 'profiles/img/user-avatar.jpg' %}" alt="avatar-user">
                    </div>
                    {% endif %}
                    <a href="{% url 'profile:public_profile' friend.id %}">
                        <div class="user_details2">
                            <p>{{ friend.first_name }} {{ friend.last_name }}</p>
                    </a>
        </div>
        </li>
        {% endfor %}
        {% else %}
        <p>У вас поки що немає друзів.</p>
        {% endif %}
        </ul>
    </div>

    </div>

    <!-- Right side of the page -->
    <p class="online-status">
        <img src="{% if is_online %}{% static 'profiles/img/on.png' %}{% else %}{% static 'profiles/img/off.png' %}{% endif %}"
            alt="img-status">
        {% if is_online %} Online {% else %} Offline {% endif %}
    </p>

    <div class="right-side">
        <div class="user-details">
            <p>Місце проживання<b> {{ user.country }}, {{ user.city }}</b></p>
            <p>Номер телефону <b>{{ user.phone }}</b></p>
            <p>День народження <b>{{ user.birthday }}</b></p>
            <p>Освіта <b>{{ user.education }}</b></p>
            <p>Стать людини <b>{{ user.gender }}</b></p>
            <p>Біографія <b>{{ user.bio }}</b></p>
        </div>
    </div>
</main>
{% endblock %}