{% extends "profiles/layout.html" %}
{% load static %}
{% block title %}Welcome{% endblock %}

{% block content %}
<main>
    <div class="welcome">
        <img src="{% static 'profiles/img/ukr-3.png' %}" alt="">
        <h2>
            Вітаю тебе на соціальній мережі iN UA. 
            Очікується багато цікавого контенту. 
            Пройди реєстрацію і в перед.
        </h2>
        <div class="btn-welcome">
            <button><a href="{% url 'account_signup' %}">Реєстрація</a></button>
            <button><a href="{% url 'account_login' %}">Вхід</a></button>
        </div>
    </div>
</main>
{% endblock %}