.sending_messages {
    width: 450px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    padding: 7px;
}

#chat-container {
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
}